.widgets-search {
  &__form {
    display: flex;
    width: 100%;
  }
  &__input {
    width: 95%;
    height: 29px;
    order: 1;
    margin-bottom: 2px;
    padding: 6px 11px 7px;
    border: 1px solid rgba($color-light, 0.1);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba($color-light, 0.1);
    font-size: 11.75px;
    outline: none;
    &::placeholder {
      color: $color-gray;
      font-weight: 200;
      letter-spacing: 0.1px;
    }
    &:focus + .widgets-search__button {
      color: $color-light;
      border-color: rgba($color-light, 0.2);
      background-color: rgba($color-light, 0.2);
    }
    &:focus {
      color: $color-light;
      border-color: rgba($color-light, 0.2);
      background-color: rgba($color-light, 0.2);
    }
  }
  &__button {
    order: 0;
    width: 29px;
    height: 29px;
    padding: 4px 7px;
    color: $color-light;
    border: 1px solid rgba($color-light, 0.1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba($color-light, 0.1);
    cursor: pointer;
  }
}
