.sidebar-left {
  display: flex;
  flex-direction: column;
  order: 1;
  gap: 15px;
  margin-bottom: 15px;
  @include md-min {
    flex-grow: 1;
    order: 1;
    max-width: 220px;
  }
  @include md-xs {
    width: calc(50% - 7.5px);
    order: 2;
  }
  @include xs {
    width: 100%;
  }
}
